<h2>Web App Exercise</h2>
<div class="container p-4">
    <img src="https://appsmaventech.com/images/blog/The-Evolution-Of-Web-Development-Via-Machine-Learning.jpg" width="250px" height="150px" />
</div>